---
import '../global.css'
import Layout from './Layout.astro';
import MarkdownPostHeaderLayout from './MarkdownPostHeaderLayout.astro'

const { frontmatter} = Astro.props;
---
<Layout title={frontmatter.title}>
  <MarkdownPostHeaderLayout headerTitle={frontmatter.title} headerDescription={frontmatter.description}>
    <div slot='extraHeaderText' class='space-y-10 pt-3'>
      <div id='blog-header-text'>
        <p class='text-xs'>Written by {frontmatter.author}</p>
        <p class='text-xs'>Published on: {frontmatter.pubDate.toString().slice(0,10)}</p>
      </div>
      <div id="blog-header-image">
        <img src={frontmatter.image.url} width="5%" alt={frontmatter.image.alt} class='w-full'/>
      </div>
    </div>
  </MarkdownPostHeaderLayout>
  <main>
    <article>
      <slot />
    </article>

    <div class='flex flex-wrap gap-4 text-xs pt-10'>
      {frontmatter.tags.map((tag) => (
        <p><a href={`/tags/${tag}`} class='border px-[1em] py-[.5em] rounded-3xl hover:bg-neutral-200 dark:hover:bg-neutral-800'>{tag}</a></p>
      ))}
    </div>
  </main>
</Layout>

<style>


img,
    picture {
      @apply aspect-video object-contain md:w-2/3;
    }
</style>