---
import '../global.css'
import Layout from './Layout.astro';
import MarkdownPostHeaderLayout from './MarkdownPostHeaderLayout.astro'

const { frontmatter} = Astro.props;
---
<Layout title={frontmatter.title}>
  <!-- <MarkdownPostHeaderLayout headerTitle={frontmatter.title} headerDescription={frontmatter.description}> -->

    
    
    <article>
      <header>
      <p class='text-sm dark:text-zinc-500 font-normal dark:border-zinc-700 border-l-2 pl-3'>{frontmatter.pubDate.toString().slice(0,10)}</p>
      <h1>{frontmatter.title}</h1>
      <p>{frontmatter.description}</p>
      <img src={frontmatter.image.url} width="5%" alt={frontmatter.image.alt} class='w-full'/>
    </header>
  <main class='space-y-[1em]'>
      <slot />

    <div class='flex flex-wrap gap-2 pt-10'>
      {frontmatter.tags.map((tag) => (
        <p><a href={`/tags/${tag}`} class='text-sm no-underline border px-[1em] py-[.5em] rounded-3xl hover:bg-zinc-200 dark:hover:bg-zinc-800'>{tag}</a></p>
      ))}
    </div>

  </article>
  </main>
</Layout>

<style>


img,
    picture {
      @apply aspect-video object-contain md:w-2/3;
    }
</style>